@model Vali.Models.Ogrenci

@{
    ViewData["Title"] = "Kaydet";
}

<h3>Kaydedilen Öğrenci</h3>

<div>
    <h4>Ogrenci</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinif)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
